.buy{
    background-image: url('../../assets/img/CallToAction/car-service.png');
    background-repeat: no-repeat; 
    background-size: 100px;
    background-position: 87% 80%;
}

.sell{
    background-image: url('../../assets/img/CallToAction/carrito-de-compras.png');
    background-repeat: no-repeat; 
    background-size: 100px;
    background-position: 87% 80%;
}